<div class="row">
	<div class="span11 offset1">
		<div class="well">
			<h2>Search</h2>
			<%= form_for(:q, :url=>search_bookmarks_path, :html=>{:class=>"form-search"}) do |f| %>
				<%= f.text_field :query, :placeholder=> "Search bookmarks...", :class=>"search-query input-large" %>
				<%= f.submit "Search", :class=>"btn btn-success" %>
			<% end %>
		</div>
	</div>
</div>