#bookmark-new {
	text-align:center;
	input#full-url {
		height:32px;
		font-size: 24px;
		padding: 10px 25px;
	}
	label {
		font-size:24px;
		padding-top:20px;
		padding-bottom:12px;
	}
	.form-controls {
		margin-top:20px;
	}

}