#bookmark-new {
	text-align:center;
	input#full-url {
		height:32px;
		font-size: 24px;
		padding: 10px 25px;
	}
	label {
		font-size:24px;
		padding-top:20px;
		padding-bottom:12px;
	}
	.form-controls {
		margin-top:20px;
	}

}

.favicon-display {

		display:inline!important;
		margin-right:12px;
		max-height:16px;
		max-width:16px;	
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }