#bookmark-form {
	text-align:center;
	input#full-url {
		height:32px;
		font-size: 24px;
		padding: 10px 25px;
	}
	label {
		font-size:24px;
		padding-top:20px;
		padding-bottom:12px;
	}
	.form-controls {
		margin-top:20px;
	}

}
.tag-list {
		list-style:none;
		padding-left:0;
		margin-left:0px;
		li {
			display:inline;
		}
		li:after {
			content: ",";
		};
		li:last-child:after {
			content: none;
		};
}

.favicon-display {

		display:inline!important;
		margin-right:12px;
		max-height:16px;
		max-width:16px;	
}


.text-right {
	text-align:right;
}